{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create A Book Review</title>
        <link rel=stylesheet href="{% static "book-reviews.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "reviews_list" %}">Back to List</a>
            </nav>
        </header>
        <main>
            <div class="book-review-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by Keenan Nguyen</div>
            <p>
                This is my website that will hold my book reviews about all of 
                the books I have read.
            </p>
        </footer>
    </body>
</html>