{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>make it stick - Book Reviews</title>
        <link rel="stylesheet" href="{% static "book-reviews.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "reviews_list" %}">Back to List</a>
                <a href="{% url "create_review" %}">Create a Review</a>
            </nav>
        </header>
        <main>
            <div class="detail-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href="detail.html">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">{{ review.authors }}</div>
                <h3>Summary</h3>
                <p>
                    {{ review.summary }}
                </p>
                <h2>My Review</h2>
                <p>
                    {{ review.summary }}
                </p>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by Keenan Nguyen</div>
            <p>
                This is my website that will hold my book reviews about all of 
                the books I have read.
            </p>
        </footer>
    </body>
</html>